.header {
    height: 600px;
    width: 100%;
    background-image: url("../../assets/mariaorlova.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
    color: black;
}
a:hover {
    color: rgba(0, 128, 0, 0.74);
}
.header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 4rem;
    padding-top: 1rem;
    list-style-type: none;
}
.ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: small;
    padding: 2px;
}
.ul li {
    background-color: rgba(43, 153, 0, 0.336);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.header li {
    margin: 5px;
}
.titles {
      margin-top: 10%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: black;
}
.titles a {
    padding: 4px;
    text-decoration: none;
    font-size: 150%;
}
.titles a:hover {
    font-size: 155%;
}
.titles h1{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 5rem;
    padding-bottom: 14px;
    margin: auto;
    animation-name: title;
    animation-duration: 6s;
}
@keyframes title {
    0% {letter-spacing: -8px;}
    100% {letter-spacing: 2px;}
}
.titles h1:hover {
    color: rgba(43, 153, 0, 0.856);
    font-size: 5.2rem;
}
.titles h4 {
    font-size: 2rem;
}
.titles h4:hover {
    font-size: 2.1rem;
}

/* MEDIA QUERIES */ 

@media screen and (max-width:799px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .titles {
        padding-bottom: 32%;
    }
    .titles h1{
        font-weight: bold;
        font-size: 2.5rem;
        padding-bottom: 35px;
        padding-top: 20px;
    }
    .titles h1:hover {
        color: rgba(43, 153, 0, 0.856);
        font-size: 2.5rem;
    }
    .titles h4 {
        font-size: 1.4rem;
    }
    .titles h4:hover {
        font-size: 1.5rem;
    }
    .titles a {
        padding: 6px;
        margin-top: 5px;
        text-decoration: none;
        font-size: 130%;
    }
    .titles a:hover {
        font-size: 135%;
    }
    .header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-right: 0rem;
        padding-left: 0%;
        padding-top: 0rem;
    }
    .ul a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: smaller;
        padding: 0px;
    }
}

@media  screen and (max-width:400px) {
    .titles h1{
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 35px;
        padding-top: 20px;
    }
    .titles h1:hover {
        color: rgba(43, 153, 0, 0.856);
        font-size: 2.1rem;
    }
    .titles h4 {
        font-size: 1.2rem;
    }
    .titles h4:hover {
        font-size: 1.3rem;
    }
}

@media  screen and (max-width:300px) {
    .titles h1{
        font-size: 1.8rem;
    }
    .titles h1:hover {
        color: rgba(43, 153, 0, 0.856);
        font-size: 1.8rem;
    }
}